@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  /* --outer-container-width: 780px; */
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-adamina: "Adamina", sans-serif;

  /* --container-3xl: var(--outer-container-width); */

  --color-background: #F4F5F5;
  --color-foreground: #000;

  --color-primary: #193EAF;
  --color-primary-foreground: #fff;

  --color-card: #FFF;
  --color-card-foreground: var(--color-foreground);

  --color-muted: #595959;

  --color-border: #e3e3e333;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@utility sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


  /* require('@tailwindcss/typography'), */
