---
import { storyblokEditable } from '@storyblok/astro'
const { blok } = Astro.props
---

<div {...storyblokEditable(blok)} class="flex flex-wrap gap-16 items-center justify-between w-full py-16">
  {blok.title && <h2 class="text-white">{blok.title}</h2>}

  <ul class="flex items-center gap-16">
    {blok.partners && blok.partners.map((partner) => (
      <li>
        <a href={partner.link?.cached_url || partner.link?.url || '#'}>
          <img 
            src={partner.logo.filename || "/assets/partner-placeholder.svg"} 
            alt={partner.name || 'Partner'} 
            class="h-[24px] opacity-65"
          />
        </a>     
      </li>                  
    ))}
  </ul>  
</div>