---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import ReportCard from '../components/ReportCard.astro'
const { blok, language } = Astro.props
---

<section {...storyblokEditable(blok)} class="bg-black">
  <div class="container mx-auto px-6 py-24 flex flex-col items-center gap-16">
    {blok.title && <h2 class="text-white text-3xl md:text-5xl text-center leading-[120%] font-adamina mb-16 px-6">{blok.title}</h2>}

    <ul class="grid md:grid-cols-3 gap-6">
      {
        blok.reports.length &&
          blok.reports.map((report) => {
            report.content.slug = report.slug
            return (
              <li>
                <ReportCard language={language} report={report.content} />
              </li>
            )
          })
      }
    </ul>

    {blok.button && blok.button.length > 0 && (
      <StoryblokComponent blok={blok.button[0]} />
    )}
  </div>
</section>
