---
const { report } = Astro.props
---

<article>
  <img
    class="object-cover object-center w-full"
    src={`${report.image.filename}/m/363x363`}
    alt={report.image.alt}
  />
  <h3 class="mt-6 text-white text-xl">
    <a href={`/reports/${report.slug}`}>
      {report.title}
    </a>
  </h3>
</article>
