---
import { getTransLink } from '../utils/i18n'
const { language, report } = Astro.props
---

<article>
  <img
    class="object-cover object-center w-full"
    src={`${report.image.filename}/m/363x363`}
    alt={report.image.alt}
  />
  <h3 class="mt-6 text-white text-xl">
    <a href={getTransLink(language, `/report/${report.slug}`)} class="hover:underline">
      {report.title}
    </a>
  </h3>
</article>
